/**
 * @name Anicord
 * @description Yes, this is another anime Discord theme. 
 * @author sangsdayy
 * @authorLink https://github.com/sang765
 * @version 1.5.8
 * @website https://github.com/sang765/Anicord-Theme
 * @source https://github.com/sang765/Anicord-Theme/blob/main/Anicord.theme.css
 * @authorId 926519119849869322
 * @updateUrl https://raw.githubusercontent.com/voltredev/voltretheme/main/Anicord.theme.css
 */

/* Theme Import */
@import url('https://voltredev.github.io/voltretheme/themes/Anicord.css');

/* Custom Properties */
:root {
	--app-bg: url(https://raw.githubusercontent.com/voltredev/theme/ffb3aa76473a7da088537bb25e4e991c1c41a140/asset/themeimage.png);
	--app-blur: 5px;
	--app-margin: 24px;
	--app-radius: 10px;

	--main-font: 'Tilt Neon';
	--code-font: '';
	--title-style: center;

	--accent-hue: 204;
	--accent-saturation: 80%;
	--accent-lightness: 65%;
	--accent-opacity: 1;
	--accent-text-color: #fff;

	--sidebar-color: rgba(0,0,0,0.4);
	--main-content-color: rgba(0,0,0,0.2);

	--message-color: rgba(0,0,0,0.4);
	--message-radius: 8px;
	--message-padding-top: 8px;
	--message-padding-side: 8px;

	--reply-hue: var(--accent-hue);
	--reply-saturation: 77.4%;
	--reply-lightness: 61.8%;
	--reply-opacity: 1;

	--textarea-color: 255,255,255;
	--textarea-alpha: 0.1;
	--textarea-alpha-focus: 0.15;
	--textarea-text-color: #fff;
	--textarea-radius: 22px;

	--card-color: rgba(0,0,0,0.4);
	--card-color-hover: rgba(0,0,0,0.5);
	--card-color-select: rgba(0,0,0,0.7);

	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px;

	--interactive-normal: #aaa;
	--interactive-hover: #ddd;
	--interactive-active: #fff;
	--interactive-muted: #777;

	--background-modifier-hover: rgba(255,255,255,0.075);
	--background-modifier-selected: rgba(255,255,255,0.125);

	--settingsinline-size: 960;
	--settingsblock-size: 80;
	--settingsbackground: transparent;
}
